.about__section {
  padding: 6rem 4rem 8rem 4rem;
  background-color: rgba(0, 0, 0);
}

.stack {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.stack__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stack__container img {
  width: 64px;
  height: 64px;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}

.stack__container img:hover {
  transform: scale(1.2);
}

.about__me__grid {
  margin-top: 6rem;
  display: grid;
  column-gap: 44px;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
}

.about__me h3 {
  font-size: 2rem;
  line-height: 2.2rem;
  max-width: 400px;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.about__me p {
  max-width: 400px;
}

.about__me__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.about__me__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%);
}

.features__grid {
  position: relative;
  margin-top: 4rem;
  display: grid;
  column-gap: 44px;
  row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}


.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-secondary);
  border-radius: 1rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.feature img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-top: 2rem;
}

.feature h3 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.feature p {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--color-primary);
}

@media screen and (max-width: 700px) {
  .about__me__grid {
    grid-template-columns: 1fr;
  }

  .about__me__image {
    clip-path: none;
  }

  .about__me__image img {
    clip-path: none;
  }

  .features__grid {
    grid-template-columns: 1fr;
  }
  
  .stack__container img{
    width: 48px;
    height: 48px;
  }
}